.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .home-container {
    font-size: 14px;
  }
}
